<%- include('../partials/header') %>
<link rel='stylesheet' href='/stylesheets/account/show.css' class="page-style" />
<a href="/logout">LOG OUT</a> | <a href="/chats"> Back to chats</a>
<form class="create-account-form" method="POST" action="/account/<%=account._id%>?_method=PUT">
    <label>Display Name:</label>
    <input type="text" name="displayName" value="<%= account.displayName %>">
    <br>
    <label>Your Unique ID is:</label>
    <label><%= account.userId %></label>
    <br>
    <input type="submit" value="Save Changes and return">
</form>
<%- include('../partials/footer') %>
