<%- include('../partials/header') %>
<link rel='stylesheet' href='/stylesheets/chats/index.css' class="page-style" />
<nav class="nav-bar">
    <a href="/chats" class="selected">CHAT ROOMS</a> | <a href="/account/<%=account._id%>/friends">FRIENDS</a> | 
    <a href="/account/<%=account._id%>">MY ACCOUNT</a> | <a href="/logout">LOG OUT</a>
</nav>
<div class="holder">
    <h1>Hello <%= account.displayName %>, How are you today?</h1>
    <a href="chats/new">Create a chat</a>
    <h3>Chats:</h3>
    <div class="chats">
        <% chats.forEach(function(chat) { %>
            <% if (chat.members.includes(account._id)) { %>
                <div class="chat">
                    <a href="chats/<%=chat._id%>" class="chat-link">
                        <div class="chat-name"><%= chat.name %>:</div>
                        <%let lastMessage = chat.messages.slice(-1)%>
                        <div class="date"><%= lastMessage[0].createdAt.toLocaleDateString()  %></div>
                        <p class="sender">
                            <% Array.from(accounts).forEach(function(a) { %>
                                <% if (a.googleId === lastMessage[0].senderId) { %>
                                    <%= a.displayName%>: 
                                <% } %>
                            <% }) %>
                            <%= lastMessage[0].text %>
                        </p>
                    </a>
                </div>
            <% } %>
        <% }) %>
    </div>
</div>
<script src="javascripts/chats/index.js" type="text/javascript"></script>
<%- include('../partials/footer') %>