<%- include('../partials/header') %>
<link rel='stylesheet' href='/stylesheets/chats/index.css' class="page-style" />
<nav class="nav-bar">
    <a href="/chats" class="selected">CHAT ROOMS</a> | <a href="/account/<%=account._id%>/friends">FRIENDS</a> | 
    <a href="/account/<%=account._id%>">MY ACCOUNT</a> | <a href="/logout">LOG OUT</a>
</nav>
<div class="holder">
    <h1>Hello <%= account.displayName %>, How are you today?</h1>
    <a href="chats/new">Create a chat</a>
    <h3>Chats:</h3>
    <div class="chats">
        <% chats.forEach(function(chat) { %>
            <% if (chat.members.includes(account._id)) { %>
                <div class="chat">
                    <a href="chats/<%=chat._id%>" class="chat-link">
                        <div class="chat-name"><%= chat.name %>:</div>
                        <% let lastMessage = null %>
                        <% let date = null %>
                        <% let sender = null %>
                        <% let messText = null %>
                        <% if (chat.messages.length > 0) { %>
                            <% lastMessage = chat.messages.slice(-1) %>
                            <% date = lastMessage[0].createdAt.toLocaleDateString() %>
                            <% sender = lastMessage[0].senderId%>
                            <% messText = lastMessage[0].text%>
                        <% } else { %>
                            <% lastMessage = '' %>
                            <% date = '' %>
                            <% sender = '' %>
                            <% messText = 'No Messages yet, start the conversation!' %>
                        <% } %>
                        <div class="date"><%= date %></div>
                        <p class="sender">
                            <% Array.from(accounts).forEach(function(a) { %>
                                <% if (a.googleId === sender) { %>
                                    <%= a.displayName%>: 
                                <% } %>
                            <% }) %>
                            <%= messText %>
                        </p>
                    </a>
                </div>
            <% } %>
        <% }) %>
    </div>
</div>
<script src="javascripts/chats/index.js" type="text/javascript"></script>
<%- include('../partials/footer') %>